{%load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/lista-produtos.css'%}">

</head>

{% include 'header.html' %}

<body>
    <div id="div_conteudo" style="width: 100%;">
        <div class="container">
            <ul>
                {% for produto in lista %}
                    <li class="produto">
                        <div class="div_produto_cadastrado lista-item">{{produto.nome}}</div>
                        <div class="div_opcoes lista-item">
                            <img   id="{{produto.id}}" onclick="deletarProduto(id)" class="img-op opcoes-item" src="{% static 'imagens/lixeira.png' %}">
                            <a href="{% url 'editar_produto' produto.id %}" >
                                <img class="img-op opcoes-item" src="{% static 'imagens/editar.png' %}"/>
                            </a>
                        </div>
                        
                    </li>
                {% endfor%}
            </ul>
        </div>
    </div>
    
</body>
{% include 'footer.html' %}
</html>
<script>
    function deletarProduto(id){
    var url = "{% url 'excluir_produto' %}"
    var produto = document.getElementById("produto-"+id)
    
    addEventListener("",function(event){
        event.preventDefault();
    })
    var dados = {"id":id}    
    fetch(url,{
        method:'POST',
        body: JSON.stringify(dados)
    }).then(function(response){
        return response.json()
    }).then(function(response){
        if(response['resposta'] == true){
            produto.remove()
        }
    })
}
</script>