{% load static %}
{% load tags %}

<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--<link rel="stylesheet" href="{% static 'css/pedidos.css'%}">-->
    <link rel="stylesheet" media="screen and (min-width: 700px)" href="{% static 'css/pedidos.css' %}">
    <link rel="stylesheet" media="screen and (max-width: 699px)" href="{% static 'css/pedidos-responsivo.css' %}">
</head>
    {% include 'header.html' %}
<body>
    <div id="div_conteudo">
        {% if pedido == "vazio" %}
            <p>Seu carrinho ainda esta vazio</p>
        {% else %}
            <button class="btn-limpar" onclick="limpar_carrinho()"> Excluir Tudo</button>
            {% if total < loja.valor_minimo_compra %}
                <h4>
                    Para conseguir fechar este pedido, a loja {{loja}}, 
                    estipulou um valor minimo de compras de R${{loja.valor_minimo_compra}}
                </h4>
                <div id="div_btn_fechar_pedido" >
                    <a href="{% url 'loja' loja.id %}">
                        <button id="btn_fechar-pedido" 
                        style="margin-top: 0px;"> comprar mais
                        </button>
                    </a>
                    <legend style="font-family: Arial;">
                        Você só podera comprar em {{loja.nome}}!<br>
                        Ou exclua tudo do seu carrinho para coprar em outra loja

                    </legend>
                </div>
            {% else %}
            <div id="div_btn_fechar_pedido">
                <a href="{% url 'confirmar_endereco' ped.pedido %}">
                    <button id="btn_fechar-pedido"> Fechar Pedido</button>
                </a>
                <a href="{% url 'loja' loja.id 'p' 0 %}">
                    <button id="btn_fechar-pedido" 
                    style="margin-top: 10px;"> comprar mais
                    </button>
                </a>
            </div>
            {% endif %}
            {% for item in pedido %}
                {% img_produto item.item.id as img %}
                {% if img != 'vazio' %}
                    <div class="produto" id="item-{{item.id}}">
                        <div class="div_produto_nome">
                            <img src="{{img.url}}" class="img_produto produto-item produto_nome_item">
                            <li style="font-weight: bold;" class="produto_nome_item produto_nome">{{item.item}}</li>
                        </div>
                        <div class="produto-descricao produto-item">
                            <li>QT-{{item.Quantidade}}</li>
                            <li>Valor Unitario - R${{item.item.valor}}</li>
                            <li>Total - R${{item.total}}</li>
                        </div>
                        <div class="btn-excluir produto-item">
                            <button id="{{item.id}}" onclick="deletar(id)">
                                <img src="{% static 'imagens/lixeira.png'%}" style="width: 40px;">
                            </button>
                        </div>
                    </div>
                {% else %}
                    <div class="produto" id="item-{{item.id}}">
                        <div class="div_produto_nome">
                            <div class="div_img_produto produto-item produto_nome_item" ></div>
                            <li style="font-weight: bold;" class="produto_nome_item produto_nome">{{item.item}}</li>
                        </div>
                        
                        <div class="produto-descricao produto-item">
                            <!--<li style="font-weight: bold;">{{item.item}}</li>-->
                            <li>QT-{{item.Quantidade}}</li>
                            <li>Valor Unitario - R${{item.item.valor}}</li>
                            <li>Total - R${{item.total}}</li>
                        </div>  
                        <div class="btn-excluir produto-item">
                            <button id="{{item.id}}" onclick="deletar(id)">
                                <img src="{% static 'imagens/lixeira.png'%}" style="width: 40px;">
                            </button>
                        </div>
                    </div>
                    {% endif %}    
            {% endfor %}
        {% endif %}
    </div>
</body>
{% include 'footer.html'%}
</html>

<script>
function limpar_carrinho(){
    var url = "{% url 'limpar_pedido'%}"
    var carrinho = document.getElementById("carrinho")
    
    fetch(url,{
        method:'Get'
    }).then(function(response){
        return response.json()
    }).then(function(response){
        if(response['resposta'] == true){
            location.reload()
        }
    })
    
}

function adicionar(id,url){
    var url = "{% url 'addcarrinho'%}"
    var qt = document.getElementById("input-"+id).value
    var carrinho = document.getElementById("carrinho")
    var produto = document.getElementById("produto-"+id)
    var input_qt = document.getElementById("input-"+id)
    console.log(url)
    
    addEventListener("",function(event){
        event.preventDefault();
    })
    var dados = {
        "id":id,
        "quantidade":qt
    }
    
    if(input_qt.value > 0 ){
        fetch(url,{
            method:'POST',
            body: JSON.stringify(dados)
        }).then(function(response){
            return response.json()
        }).then(function(response){
            if(response['loja_diferente'] == true){
                alert("Você esta com o pedido Aberto em outra Loja, para fazer a compra em uma loja diferente finalize o pedido ou remova todos os produtos da loja anterior do seu pedido!")
            }
            else{
                carrinho.innerHTML = "R$" + response['total']
                produto.style.borderColor = "red"
            }
        })
    }
}

function deletar(id){
    var url =  "{% url 'deletar-subpedido' %}"
    var resposta
    var item = document.getElementById("item-" + id)
    var carrinho = document.getElementById("carrinho")
    var total_carrinho = document.getElementById("total-carrinho")

    addEventListener("",function(event){
        event.preventDefault();
    })
    var dados = {"id":id}
    fetch(url,{
        method:'POST',
        body: JSON.stringify(dados)
    }).then(function(response){
        return response.json()
    }).then(function(response){
        resposta = response["resposta"]
        if(resposta == true){
            item.remove()
            carrinho.innerHTML = "R$" +  response["total"]
            //total_carrinho.innerHTML = "R$" +  response["total"]
        }
    })
    

}
</script>