{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Loja</title>
     <!--<link rel="stylesheet" href="{% static 'css/formularios.css'%}">-->
     <link rel="stylesheet" media="screen and (min-width: 700px)" href="{% static 'css/formularios.css' %}">
     <link rel="stylesheet" media="screen and (max-width: 699px)" href="{% static 'css/formularios-responsivo.css' %}">
</head>
{% include 'header.html'%}
<body>
    <div id="div_conteudo">
        <div id="div_form">
            <div>
                <h3 style="font-family: Arial;">Qualquer Duvida entre em Contato</h3>
                <p class="link-whats">
                    <!--https://api.whatsapp.com/send?phone=5521969386632&text=Gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20sua%20plataforma-->
                    <a href="https://bit.ly/2ARoAz4">
                        <button class="btn-whats">
                            <img class="icone whats-item" src="{%static 'imagens/icone-whatsapp.png' %}">
                            <span class="whats-item">Fale Conosco Pelo whatsapp</span>
                        </button>
                    </a>
            </div>
            <form method="POST" onsubmit="form_submit(this); return false" enctype="multipart/form-data"> 
                {% csrf_token %}
                <p>
                    <label id="label_nome">Razão Social:</label>
                    <input type="text" name="nome" id="id_nome" required maxlength="30" placeholder="Razão Social">
                </p>
                <!--<p>
                    <label id="label_cnpj">CNPJ:</label>
                    <input type="text" name="CNPJ" id="id_CNPJ" maxlength="18" required 
                    placeholder="00.000.000/0000-00" onkeypress="mascaraCNPJ(this)">
                </p>-->
                <p>
                    <label id="label_cnpj">CNPJ:</label>
                    <input type="text" name="CNPJ" id="id_CNPJ" maxlength="14" required 
                    placeholder="00.000.000/0000-00" onblur="mascara(this,'CNPJ')">
                </p>
                <p>
                    <label id="label_emal">email:</label>
                    <input type="email" name="email" id="id_email" required placeholder="Seu email"
                    onchange="verifica_email(this.value)">
                </p>
                <p>
                    <label id="label_senha">Senha:</label>
                    <input maxlength="15" type="password" name="senha" id="id_senha" required>
                </p>
                <p>
                    <label id="confirm">Confirmação de Senha</label>
                    <input maxlength="15" type="password" name="confirm" id="id_confirm" required>
                </p>
                <!--<p>
                    <label id="label-cep">CEP:</label>
                    <input type="text" name="CEP" id="id_CEP" required placeholder="00000-000" onkeypress="mascaraCEP(this)"
                    onblur="pesquisacep(this.value)">
                </p>-->
                <p>
                    <label id="label-cep">CEP:</label>
                    <input type="text" name="CEP" id="id_CEP" required placeholder="00000-000"
                    onblur="pesquisacep(this.value);mascara(this,'CEP')" maxlength="9">
                </p>
                <p>
                    <label id="label_estado">Estado:</label>
                    <input type="text" name="Estado" id="id_Estado" required>
                </p>
                <p>
                    <label id="label_cidade">Cidade:</label>
                    <input type="text" name="Cidade" id="id_Cidade" required>
                </p>
                <p>
                    <label id="label_baiiro">Bairro</label>
                    <input type="text" name="bairro" id="id_bairro" required>
                </p>
                <p>
                    <label id="label_rua">Rua</label>
                    <input type="text" name="Rua" id="id_Rua" required>
                </p>
                <p>
                    <label id="label_numero">Numero</label>
                    <input type="text" name="numero" id="id_numero" required>
                </p>
                <p>
                    <label id="label_complemento">Complemento</label>
                    <input type="text" name="complemento" id="id_complemento">
                </p>
                <br>
                <p>
                    <select name="ativa" id="loja_ativa" required>
                        <option value="sim">Sim</option>
                        <option value="não">Não</option>
                    </select>
                    <label id="label_loja_ativa">Deixar Loja Visivel</label>
                </p>
                <br>
                <p><label id="label_telefone">Telefone</label></p>
                <p>
                    <select name="DDD_tel" id="id_DDD_tel" required>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="24">24</option>
                    </select>
                    <input type="text" name="Telefone" id="id_Telefone" placeholder="0000-0000" required 
                    maxlength="9" onblur="mascara(this,'Tel')">
                </p>
                <p> <label id="label_whatsapp">Whatsapp:</label></p>
                <p>
                    <select name="DDD_whats" id="id_DDD_whats">
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="24">24</option>
                    </select>
                    <input type="text" required name="whatsapp" id="id_whatsapp" placeholder="00000-0000" 
                    maxlength="10" onblur="mascara(this,'cel')">
                    <legend>enviaremos as notificações de novos pedidos para este numero</legend>
                </p>
                <div id="div_dividir" style="border-top: black solid 1px; margin-top: 10px;">
                    <p>
                        <label for="">Categoria da Sua Loja</label>
                        {{form.categoria}}
                    </p><br>
                    <p>
                        <label>Valor Minimo para Compras</label>
                        <input type="number" name="valor_minimo_compra" id="">
                        <legend>Os clientes só poderam fazer pedidos acima deste valor</legend>
                    </p>
                </div>
                <div id="div_dividir" style="border-top: black solid 1px; margin-top: 10px;">
                    <h3>Horario de Funcionamento</h3>
                    <legend>Você só Recebera Pedido durante os Horarios cadastrados</legend>

                    <div style="border: solid 1px black;">
                        <p>
                            <label style="width: max-content;"> Segunda Feira</label>
                        </p>
                        <p>
                            Abre <select style= "margin-left: 10px;" name="seg_abre">
                                    <option value="00" selected>00:00</option>
                                    <option value="01">1:00</option>
                                    <option value="02">2:00</option>
                                    <option value="03">3:00</option>
                                    <option value="04">4:00</option>
                                    <option value="05">5:00</option>
                                    <option value="06">6:00</option>
                                    <option value="07">7:00</option>
                                    <option value="08">8:00</option>
                                    <option value="09">9:00</option>
                                    <option value="10">10:00</option>
                                    <option value="11">11:00</option>
                                    <option value="12">12:00</option>
                                    <option value="13">13:00</option>
                                    <option value="14">14:00</option>
                                    <option value="15">15:00</option>
                                    <option value="16">16:00</option>
                                    <option value="17">17:00</option>
                                    <option value="18">18:00</option>
                                    <option value="19">19:00</option>
                                    <option value="20">20:00</option>
                                    <option value="21">21:00</option>
                                    <option value="22">22:00</option>
                                    <option value="23">23:00</option>
                                </select>
                            Fecha<select style= "margin-left: 10px;" name="seg_fecha">
                                <option value="00" selected>00:00</option>
                                <option value="01">1:00</option>
                                <option value="02">2:00</option>
                                <option value="03">3:00</option>
                                <option value="04">4:00</option>
                                <option value="05">5:00</option>
                                <option value="06">6:00</option>
                                <option value="07">7:00</option>
                                <option value="08">8:00</option>
                                <option value="09">9:00</option>
                                <option value="10">10:00</option>
                                <option value="11">11:00</option>
                                <option value="12">12:00</option>
                                <option value="13">13:00</option>
                                <option value="14">14:00</option>
                                <option value="15">15:00</option>
                                <option value="16">16:00</option>
                                <option value="17">17:00</option>
                                <option value="18">18:00</option>
                                <option value="19">19:00</option>
                                <option value="20">20:00</option>
                                <option value="21">21:00</option>
                                <option value="22">22:00</option>
                                <option value="23">23:00</option>
                                </select>
                        </p>
                        <legend>Caso não Abra deixe o valor zero selecionado nas duas opções</legend>
                    </div>
                    <br>
                    <div style="border: solid 1px black;">
                        <p>
                            <label style="width: max-content;">Terça Feira</label>
                        </p>
                        <p>
                            Abre <select style= "margin-left: 10px;" name="ter_abre">
                                    <option value="0.00" selected>00:00</option>
                                    <option value="01.00">1:00</option>
                                    <option value="02.00">2:00</option>
                                    <option value="03.00">3:00</option>
                                    <option value="04.00">4:00</option>
                                    <option value="05.00">5:00</option>
                                    <option value="06.00">6:00</option>
                                    <option value="07.00">7:00</option>
                                    <option value="08.00">8:00</option>
                                    <option value="09.00">9:00</option>
                                    <option value="10.00">10:00</option>
                                    <option value="11.00">11:00</option>
                                    <option value="12.00">12:00</option>
                                    <option value="13.00">13:00</option>
                                    <option value="14.00">14:00</option>
                                    <option value="15.00">15:00</option>
                                    <option value="16.00">16:00</option>
                                    <option value="17.00">17:00</option>
                                    <option value="18.00">18:00</option>
                                    <option value="19.00">19:00</option>
                                    <option value="20.00">20:00</option>
                                    <option value="21.00">21:00</option>
                                    <option value="22.00">22:00</option>
                                    <option value="23.00">23:00</option>
                                </select>
                            Fecha<select style= "margin-left: 10px;" name="ter_fecha">
                                <option value="0.00" selected>00:00</option>
                                <option value="01.00">1:00</option>
                                <option value="02.00">2:00</option>
                                <option value="03.00">3:00</option>
                                <option value="04.00">4:00</option>
                                <option value="05.00">5:00</option>
                                <option value="06.00">6:00</option>
                                <option value="07.00">7:00</option>
                                <option value="08.00">8:00</option>
                                <option value="09.00">9:00</option>
                                <option value="10.00">10:00</option>
                                <option value="11.00">11:00</option>
                                <option value="12.00">12:00</option>
                                <option value="13.00">13:00</option>
                                <option value="14.00">14:00</option>
                                <option value="15.00">15:00</option>
                                <option value="16.00">16:00</option>
                                <option value="17.00">17:00</option>
                                <option value="18.00">18:00</option>
                                <option value="19.00">19:00</option>
                                <option value="20.00">20:00</option>
                                <option value="21.00">21:00</option>
                                <option value="22.00">22:00</option>
                                <option value="23.00">23:00</option>
                            </select>
                        </p>
                        <legend>Caso não Abra deixe o valor zero selecionado nas duas opções</legend>
                    </div><br>
                    <div style="border: solid 1px black;">
                        <p>
                            <label style="width: max-content;">Quarta Feira</label>
                        </p>
                        <p>
                            Abre <select style= "margin-left: 10px;" name="qua_abre">
                                <option value="0.00" selected>00:00</option>
                                    <option value="01.00">1:00</option>
                                    <option value="02.00">2:00</option>
                                    <option value="03.00">3:00</option>
                                    <option value="04.00">4:00</option>
                                    <option value="05.00">5:00</option>
                                    <option value="06.00">6:00</option>
                                    <option value="07.00">7:00</option>
                                    <option value="08.00">8:00</option>
                                    <option value="09.00">9:00</option>
                                    <option value="10.00">10:00</option>
                                    <option value="11.00">11:00</option>
                                    <option value="12.00">12:00</option>
                                    <option value="13.00">13:00</option>
                                    <option value="14.00">14:00</option>
                                    <option value="15.00">15:00</option>
                                    <option value="16.00">16:00</option>
                                    <option value="17.00">17:00</option>
                                    <option value="18.00">18:00</option>
                                    <option value="19.00">19:00</option>
                                    <option value="20.00">20:00</option>
                                    <option value="21.00">21:00</option>
                                    <option value="22.00">22:00</option>
                                    <option value="23.00">23:00</option>
                            </select>
                        Fecha<select style= "margin-left: 10px;" name="qua_fecha">
                            <option value="0.00" selected>00:00</option>
                            <option value="01.00">1:00</option>
                            <option value="02.00">2:00</option>
                            <option value="03.00">3:00</option>
                            <option value="04.00">4:00</option>
                            <option value="05.00">5:00</option>
                            <option value="06.00">6:00</option>
                            <option value="07.00">7:00</option>
                            <option value="08.00">8:00</option>
                            <option value="09.00">9:00</option>
                            <option value="10.00">10:00</option>
                            <option value="11.00">11:00</option>
                            <option value="12.00">12:00</option>
                            <option value="13.00">13:00</option>
                            <option value="14.00">14:00</option>
                            <option value="15.00">15:00</option>
                            <option value="16.00">16:00</option>
                            <option value="17.00">17:00</option>
                            <option value="18.00">18:00</option>
                            <option value="19.00">19:00</option>
                            <option value="20.00">20:00</option>
                            <option value="21.00">21:00</option>
                            <option value="22.00">22:00</option>
                            <option value="23.00">23:00</option>
                        </select>
                        </p>
                        <legend>Caso não Abra deixe o valor zero selecionado nas duas opções</legend>
                    </div><br>
                    <div style="border: solid 1px black;">
                        <p>
                            <label style="width: max-content;">Quinta Feira</label>
                        </p>
                        <p>
                            Abre <select style= "margin-left: 10px;" name="qui_abre">
                                <option value="0.00" selected>00:00</option>
                                    <option value="01.00">1:00</option>
                                    <option value="02.00">2:00</option>
                                    <option value="03.00">3:00</option>
                                    <option value="04.00">4:00</option>
                                    <option value="05.00">5:00</option>
                                    <option value="06.00">6:00</option>
                                    <option value="07.00">7:00</option>
                                    <option value="08.00">8:00</option>
                                    <option value="09.00">9:00</option>
                                    <option value="10.00">10:00</option>
                                    <option value="11.00">11:00</option>
                                    <option value="12.00">12:00</option>
                                    <option value="13.00">13:00</option>
                                    <option value="14.00">14:00</option>
                                    <option value="15.00">15:00</option>
                                    <option value="16.00">16:00</option>
                                    <option value="17.00">17:00</option>
                                    <option value="18.00">18:00</option>
                                    <option value="19.00">19:00</option>
                                    <option value="20.00">20:00</option>
                                    <option value="21.00">21:00</option>
                                    <option value="22.00">22:00</option>
                                    <option value="23.00">23:00</option>
                            </select>
                        Fecha<select style= "margin-left: 10px;" name="qui_fecha">
                            <option value="0.00" selected>00:00</option>
                            <option value="01.00">1:00</option>
                            <option value="02.00">2:00</option>
                            <option value="03.00">3:00</option>
                            <option value="04.00">4:00</option>
                            <option value="05.00">5:00</option>
                            <option value="06.00">6:00</option>
                            <option value="07.00">7:00</option>
                            <option value="08.00">8:00</option>
                            <option value="09.00">9:00</option>
                            <option value="10.00">10:00</option>
                            <option value="11.00">11:00</option>
                            <option value="12.00">12:00</option>
                            <option value="13.00">13:00</option>
                            <option value="14.00">14:00</option>
                            <option value="15.00">15:00</option>
                            <option value="16.00">16:00</option>
                            <option value="17.00">17:00</option>
                            <option value="18.00">18:00</option>
                            <option value="19.00">19:00</option>
                            <option value="20.00">20:00</option>
                            <option value="21.00">21:00</option>
                            <option value="22.00">22:00</option>
                            <option value="23.00">23:00</option>
                        </select>
                        </p>
                        <legend>Caso não Abra deixe o valor zero selecionado nas duas opções</legend>
                    </div><br>
                    <div style="border: solid 1px black;">
                        <p>
                            <label style="width: max-content;">Sexta Feira</label>
                        </p>
                        <p>
                            Abre <select style= "margin-left: 10px;" name="sex_abre">
                                <option value="0.00" selected>00:00</option>
                                    <option value="01.00">1:00</option>
                                    <option value="02.00">2:00</option>
                                    <option value="03.00">3:00</option>
                                    <option value="04.00">4:00</option>
                                    <option value="05.00">5:00</option>
                                    <option value="06.00">6:00</option>
                                    <option value="07.00">7:00</option>
                                    <option value="08.00">8:00</option>
                                    <option value="09.00">9:00</option>
                                    <option value="10.00">10:00</option>
                                    <option value="11.00">11:00</option>
                                    <option value="12.00">12:00</option>
                                    <option value="13.00">13:00</option>
                                    <option value="14.00">14:00</option>
                                    <option value="15.00">15:00</option>
                                    <option value="16.00">16:00</option>
                                    <option value="17.00">17:00</option>
                                    <option value="18.00">18:00</option>
                                    <option value="19.00">19:00</option>
                                    <option value="20.00">20:00</option>
                                    <option value="21.00">21:00</option>
                                    <option value="22.00">22:00</option>
                                    <option value="23.00">23:00</option>
                            </select>
                        Fecha<select style= "margin-left: 10px;" name="sex_fecha">
                            <option value="0.00" selected>00:00</option>
                            <option value="01.00">1:00</option>
                            <option value="02.00">2:00</option>
                            <option value="03.00">3:00</option>
                            <option value="04.00">4:00</option>
                            <option value="05.00">5:00</option>
                            <option value="06.00">6:00</option>
                            <option value="07.00">7:00</option>
                            <option value="08.00">8:00</option>
                            <option value="09.00">9:00</option>
                            <option value="10.00">10:00</option>
                            <option value="11.00">11:00</option>
                            <option value="12.00">12:00</option>
                            <option value="13.00">13:00</option>
                            <option value="14.00">14:00</option>
                            <option value="15.00">15:00</option>
                            <option value="16.00">16:00</option>
                            <option value="17.00">17:00</option>
                            <option value="18.00">18:00</option>
                            <option value="19.00">19:00</option>
                            <option value="20.00">20:00</option>
                            <option value="21.00">21:00</option>
                            <option value="22.00">22:00</option>
                            <option value="23.00">23:00</option>
                        </select>
                        </p>
                        <legend>Caso não Abra deixe o valor zero selecionado nas duas opções</legend>
                    </div><br>
                    <div style="border: solid 1px black;">
                        <p>
                            <label style="width: max-content;">Sabado</label>
                        </p>
                        <p>
                            Abre <select style= "margin-left: 10px;" name="sab_abre">
                                <option value="0.00" selected>00:00</option>
                                    <option value="01.00">1:00</option>
                                    <option value="02.00">2:00</option>
                                    <option value="03.00">3:00</option>
                                    <option value="04.00">4:00</option>
                                    <option value="05.00">5:00</option>
                                    <option value="06.00">6:00</option>
                                    <option value="07.00">7:00</option>
                                    <option value="08.00">8:00</option>
                                    <option value="09.00">9:00</option>
                                    <option value="10.00">10:00</option>
                                    <option value="11.00">11:00</option>
                                    <option value="12.00">12:00</option>
                                    <option value="13.00">13:00</option>
                                    <option value="14.00">14:00</option>
                                    <option value="15.00">15:00</option>
                                    <option value="16.00">16:00</option>
                                    <option value="17.00">17:00</option>
                                    <option value="18.00">18:00</option>
                                    <option value="19.00">19:00</option>
                                    <option value="20.00">20:00</option>
                                    <option value="21.00">21:00</option>
                                    <option value="22.00">22:00</option>
                                    <option value="23.00">23:00</option>
                            </select>
                        Fecha<select style= "margin-left: 10px;" name="sab_fecha">
                            <option value="0.00" selected>00:00</option>
                            <option value="01.00">1:00</option>
                            <option value="02.00">2:00</option>
                            <option value="03.00">3:00</option>
                            <option value="04.00">4:00</option>
                            <option value="05.00">5:00</option>
                            <option value="06.00">6:00</option>
                            <option value="07.00">7:00</option>
                            <option value="08.00">8:00</option>
                            <option value="09.00">9:00</option>
                            <option value="10.00">10:00</option>
                            <option value="11.00">11:00</option>
                            <option value="12.00">12:00</option>
                            <option value="13.00">13:00</option>
                            <option value="14.00">14:00</option>
                            <option value="15.00">15:00</option>
                            <option value="16.00">16:00</option>
                            <option value="17.00">17:00</option>
                            <option value="18.00">18:00</option>
                            <option value="19.00">19:00</option>
                            <option value="20.00">20:00</option>
                            <option value="21.00">21:00</option>
                            <option value="22.00">22:00</option>
                            <option value="23.00">23:00</option>
                        </select>
                        </p>
                        <legend>Caso não Abra deixe o valor zero selecionado nas duas opções</legend>
                    </div><br>
                    <div style="border: solid 1px black;">
                        <p>
                            <label style="width: max-content;">Domingo</label>
                        </p>
                        <p>
                            Abre <select style= "margin-left: 10px;" name="dom_abre">
                                <option value="0.00" selected>00:00</option>
                                <option value="01.00">1:00</option>
                                <option value="02.00">2:00</option>
                                <option value="03.00">3:00</option>
                                <option value="04.00">4:00</option>
                                <option value="05.00">5:00</option>
                                <option value="06.00">6:00</option>
                                <option value="07.00">7:00</option>
                                <option value="08.00">8:00</option>
                                <option value="09.00">9:00</option>
                                <option value="10.00">10:00</option>
                                <option value="11.00">11:00</option>
                                <option value="12.00">12:00</option>
                                <option value="13.00">13:00</option>
                                <option value="14.00">14:00</option>
                                <option value="15.00">15:00</option>
                                <option value="16.00">16:00</option>
                                <option value="17.00">17:00</option>
                                <option value="18.00">18:00</option>
                                <option value="19.00">19:00</option>
                                <option value="20.00">20:00</option>
                                <option value="21.00">21:00</option>
                                <option value="22.00">22:00</option>
                                <option value="23.00">23:00</option>
                            </select>
                        Fecha<select style= "margin-left: 10px;" name="dom_fecha">
                            <option value="0.00" selected>00:00</option>
                            <option value="01.00">1:00</option>
                            <option value="02.00">2:00</option>
                            <option value="03.00">3:00</option>
                            <option value="04.00">4:00</option>
                            <option value="05.00">5:00</option>
                            <option value="06.00">6:00</option>
                            <option value="07.00">7:00</option>
                            <option value="08.00">8:00</option>
                            <option value="09.00">9:00</option>
                            <option value="10.00">10:00</option>
                            <option value="11.00">11:00</option>
                            <option value="12.00">12:00</option>
                            <option value="13.00">13:00</option>
                            <option value="14.00">14:00</option>
                            <option value="15.00">15:00</option>
                            <option value="16.00">16:00</option>
                            <option value="17.00">17:00</option>
                            <option value="18.00">18:00</option>
                            <option value="19.00">19:00</option>
                            <option value="20.00">20:00</option>
                            <option value="21.00">21:00</option>
                            <option value="22.00">22:00</option>
                            <option value="23.00">23:00</option>
                        </select>
                        </p>
                        <legend>Caso não Abra deixe o valor zero selecionado nas duas opções</legend>
                    </div>
                    
                </div>
               
                <br>
                <div id="div_dividir" style="border-top: black solid 1px; margin-top: 10px;">
                    <h3>Frete</h3>
                    <p>
                    <label >Cobrar Pela Entrega</label>
                    <select id="id_cobrar_frete" onchange="cobrar_frete()">
                        <option value="não">não</option>
                        <option value="sim">Sim</option>
                    </select>
                </p>
                <p id="distancia_frete"><label>Distancia maxima para entrega</label>
                    <input type="number" name="distancia" id="id_input_distancia" value="5">
                    <legend>Faremos um raio com essa distância em kms</legend>
                </p>
                    <div id="div_frete">
                        <p id="valor_frete">
                            <label>Valor do Frete por km</label>
                            <input type="number" name="valor_frete" id="input_valor_frete" value="0">
                            <legend>valor por km, multiplicaremos ele pela distancia da entrega</legend>
                        </p>
                        <p>
                            <label> Valor minimo do Frete</label>
                            <input type="number" name="valor_minimo_frete" value="0">
                            <legend>Caso a distancia seja pequena, utilizaremos este valor</legend>
                        </p>
                    </div>
                </div>
                <div id="div_dividir" style="border-top: black solid 1px; margin-top: 10px;"></div>
                    <p id="campo-input-logomarca">
                        <label id="label_logomarca">Sua Logomarca</label>
                        <input type="file" name="logomarca" id="id_logomarca" required>
                        <legend>Imagem que exibira Sua Loja</legend>
                    </p>
                    <div id="div_dados_bancarios" style="border-top: black solid 2px;">
                        
                        <h3>Dados Bancarios</h3>
                        <legend>A conta deve Pertencer ao CNPJ Cadastrado</legend><br>
                        <p class="banco-item">
                            <label style="width: max-content;">Nome do Banco</label>
                            <input type="text" name="Banco" id="id_input_banco" style="width: 150px;">
                        </p>
                        <p class="banco-item">
                            <label style="width: 70px;">agencia</label>
                            <input type="number" name="agencia" id="id_input_agencia" style="width: 50px;">
                            <label style="width: max-content;">Digito</label>
                            <input type="number" name="digito_agencia" id="id_input_digito_agencia" style="width: 30px;">
                            <legend> Caso não possua digito deixe em Branco</legend>
                        </p>
                        <p class="banco-item">
                            <label style="width: 70px;">Conta</label>
                            <input type="number" name="conta" id="id_input_conta" style="width: 50px;">
                            <label style="width: max-content;">Digito</label>
                            <input type="number" name="digito_conta" id="id_input_digito_conta" style="width: 30px;">
                            <legend> Caso não possua digito deixe em Branco</legend>
                        </p>
                        
                    </div>
                    <button type="submit" id="btn-cadastrar">Cadastrar</button>

                </div>
                <!--<button id="btn-cadastrar" type="submit">Cadastrar</button>-->
                
            </form>
        </div>
    </div>

</body>
{% include 'footer.html'%}
<script src="{% static 'js/formularios.js' %}"></script>
<script src="{% static 'js/viacep.js' %}"></script>
</html>
<style>
    @media(min-width: 700px){
        .banco-item{
            padding-bottom: 10px;
            padding-top: 10px;
        }
        p{
            padding-bottom: 5px;
            padding-top: 5px;
        }
    }
    .icone{
        width: 50px;
    }
    .link-whats{
        width: max-content;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .whats-item{
        display: inline-block;
        vertical-align: middle;
    }
    .btn-whats{
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: black;
        color: yellow;
        font-weight: bold;
        border-radius: 10px;
        width: max-content;
        padding: 10px;
        border: none;
        cursor: pointer;
    }
</style>
<script>
    var distancia = document.getElementById("distancia_frete")
    var valor_frete = document.getElementById("valor_frete")
    var cobrar = document.getElementById("id_cobrar_frete")
    var frete = document.getElementById("div_frete")
    if(cobrar.value == "não"){
        frete.style.display = 'none'
        }

    function cobrar_frete(){
        
        if(cobrar.value == "não"){
            frete.style.display = 'none'
        }
        else{
            frete.style.display = 'block'
        }
    }
    
    function verifica_email(e){
        var email = document.getElementById("id_email")
        if(email){
            var url = "{% url 'verifica_email' %}"
            v = e
            addEventListener("",function(event){
                event.preventDefault();
            })
            console.log(email)
            var dados = {'email':v}
            fetch(url,{
                method:'POST',
                body:JSON.stringify(dados)
            }).then(function(response){
                return response.json()
            }).then(function(response){
                    var resposta =  response['resposta']
                    console.log(resposta)
                    if (resposta == false){
                        email.focus()
                        email.style.borderColor = "red"
                        alert('Por favor, insira outro email, este email ja esta sendo usado')
                    }
                }
            
            )}
    }
    function ajustar_texto(i){
        var texto = i
        var texto_ajustado = texto.replace(/\-/g,'')
        texto_ajustado = texto_ajustado.replace(/\./g,'')
        texto_ajustado = texto_ajustado.replace(/\//g,'')

        return(texto_ajustado)
    }
    function mascara(i,campo){
        var a = i.value
        if (a.length < 8){
            alert("Por Favor, Verifique todos os campos e os digite no formato Certo")
            i.value = ""
            return(false)
        }
        var texto = ajustar_texto(i.value)
        if(campo == "CNPJ"){
            var p1 = texto.slice(0,2)
            var p2 = texto.slice(2,5)
            var p3 = texto.slice(5,8)
            var p4 = texto.slice(8,12)
            var p5 = texto.slice(12,14)
            texto = p1 + "." + p2 + "." + p3 + "/" + p4 + "-" + p5
        }
        else if (campo == "CEP"){
            var p1 = texto.slice(0,5)
            var p2 = texto.slice(5,8)
            texto = p1 + "-" + p2
        }
        else if(campo == 'Tel'){
            var p1 = texto.slice(0,4)
            var p2 = texto.slice(4,8)
            texto = p1 + "-" + p2
        }
        else if(campo == 'cel'){
            var p1 = texto.slice(0,5)
            var p2 = texto.slice(5,9)
            texto = p1 + "-" + p2
        }
        i.value = texto
    }
    

</script>
<!--<script type="text/javascript" >
    
    function limpa_formulário_cep() {
            //Limpa valores do formulário de cep.
            document.getElementById('id_Rua').value=("");
            document.getElementById('id_bairro').value=("");
            document.getElementById('id_Cidade').value=("");
            document.getElementById('id_Estado').value=("");
    }

    function meu_callback(conteudo) {
        if (!("erro" in conteudo)) {
            //Atualiza os campos com os valores.
            document.getElementById('id_Rua').value=(conteudo.logradouro);
            document.getElementById('id_bairro').value=(conteudo.bairro);
            document.getElementById('id_Cidade').value=(conteudo.localidade);
            document.getElementById('id_Estado').value=(conteudo.uf);
        } //end if.
        else {
            //CEP não Encontrado.
            limpa_formulário_cep();
            alert("CEP não encontrado.");
        }
    }
        
    function pesquisacep(valor) {
        if (valor.length != 0 && valor.length != 9){

        }
        //Nova variável "cep" somente com dígitos.
        var cep = valor.replace(/\D/g, '');

        //Verifica se campo cep possui valor informado.
        if (cep != "") {

            //Expressão regular para validar o CEP.
            var validacep = /^[0-9]{8}$/;
            //Valida o formato do CEP.
            if(validacep.test(cep)) {
                //Preenche os campos com "..." enquanto consulta webservice.
                document.getElementById('id_Rua').value="...";
                document.getElementById('id_bairro').value="...";
                document.getElementById('id_Cidade').value="...";
                document.getElementById('id_Estado').value="...";
                //Cria um elemento javascript.
                var script = document.createElement('script');
                
                //Sincroniza com o callback.
                script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';
                
                //Insere script no documento e carrega o conteúdo.
                document.body.appendChild(script);

            } //end if.
            else {
                //cep é inválido.
                limpa_formulário_cep();
                alert("Formato de CEP inválido.");
            }
        } //end if.
        else {
            //cep sem valor, limpa formulário.
            limpa_formulário_cep();
        }
    };
    </script>-->
