{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>novo Endereço</title>
     <!--<link rel="stylesheet" href="{% static 'css/formularios.css'%}">-->
     <link rel="stylesheet" media="screen and (min-width: 700px)" href="{% static 'css/formularios.css' %}">
     <link rel="stylesheet" media="screen and (max-width: 699px)" href="{% static 'css/formularios-responsivo.css' %}">
</head>
    {% include 'header.html' %}
<body>
    <div id="div_conteudo">
        <h1>Novo endereço</h1>
        <div id="div_form">
            <form method="POST" onsubmit="form_submit(this); return false;"> 
                {% csrf_token %}
                <p hidden>
                    {{form.cliente}}
                </p>
                <p>
                    <label id="label_CEP">CEP:</label>
                    <input type="text" name="CEP" id="id_CEP" required placeholder="00000-000" 
                    maxlength="9" onblur="pesquisacep(this.value);mascara(this,'CEP')">
                </p>
                <p>
                    <label id="label_estado">Estado</label>
                    <input type="text" name="Estado" id="id_Estado" required>
                </p>
                <p>
                    <label id="label_Cidade">Cidade</label>
                    <input type="text" name="Cidade" id="id_Cidade" required>
                </p>
                <p>
                    <label id="label_bairro">Bairro</label>
                    <input type="text" name="bairro" id="id_bairro" required>
                </p>
                <p>
                    <label id="label_Rua">Rua</label>
                    <input type="text" name="Rua" id="id_Rua" required>
                </p>
                <p>
                    <label id="label_numero">Numero</label>
                    <input type="text" name="numero" id="id_numero" required>
                </p>
                <p>
                    <label id="label_complemento">Complemento</label>
                    <input type="text" name="complemento" id="id_complemento">
                </p>
                <button id="btn-cadastrar" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
</body>
{% include 'footer.html'%}
</html>
<script src="{% static 'js/formularios.js' %}"></script>
<script src="{% static 'js/viacep.js' %}"></script>
<script>
    function ajustar_texto(i){
        var texto = i
        var texto_ajustado = texto.replace(/\-/g,'')
        texto_ajustado = texto_ajustado.replace(/\./g,'')
        texto_ajustado = texto_ajustado.replace(/\//g,'')

        return(texto_ajustado)
    }
    function mascara(i,campo){
        var a = i.value
        if (a.length < 8){
            alert("Por Favor, Verifique todos os campos e os digite no formato Certo")
            i.value = ""
            return(false)
        }
        var texto = ajustar_texto(i.value)
        if(campo == "CNPJ"){
            var p1 = texto.slice(0,2)
            var p2 = texto.slice(2,5)
            var p3 = texto.slice(5,8)
            var p4 = texto.slice(8,12)
            var p5 = texto.slice(12,14)
            texto = p1 + "." + p2 + "." + p3 + "/" + p4 + "-" + p5
        }
        else if (campo == "CEP"){
            var p1 = texto.slice(0,5)
            var p2 = texto.slice(5,8)
            texto = p1 + "-" + p2
        }
        else if(campo == 'Tel'){
            var p1 = texto.slice(0,4)
            var p2 = texto.slice(4,8)
            texto = p1 + "-" + p2
        }
        else if(campo == 'cel'){
            var p1 = texto.slice(0,5)
            var p2 = texto.slice(5,9)
            texto = p1 + "-" + p2
        }
        i.value = texto
    }
</script>