{% load static %}
{% load tags %}
<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todas as Lojas</title>
    <!--<link rel="stylesheet" href="{% static 'css/home.css '%}">-->
    <link rel="stylesheet" media="screen and (min-width: 700px)" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" media="screen and (max-width: 699px)" href="{% static 'css/home-responsivo.css' %}">
</head>
    {% include 'header.html' %}
<body>
    <div id="div_conteudo">
            <div id="div_pesquisa" style="width: 100%; text-align: left;">
                <form method="GET">
                    {%csrf_token%}
                        <div id="div_input_pesquisa">
                            <input type="text" name="pesquisa" id="id_input_pesquisa" placeholder="Nome da Loja">
                            <button type="submit" id="btn-pesquisar"><img id="img-lupa"src="{% static 'imagens/lupa.png' %}" alt=""> </button>
                        </div>
                    </form>
            </div>
        
        <h1>Selecione a loja em que deseja fazer as suas compras</h1>
        {% for loja in lojas %}
            {% if loja.ativa == 'sim' %}
            {% categoria loja.categoria.categoria as cat %}
                {% if cat == 'comida' %}
                    <a class="loja" id= "loja-{{loja.id}}" href="{% url 'restaurante' loja.id %}">
                        <h2>{{loja.nome}}</h2>
                        <p>{{loja.bairro}} - {{loja.Cidade}}</p>
                        
                        <p><img class="logo-loja" src="{{loja.logomarca.url}}" alt=""></p>
                        <p id="{{loja.id}}-fechado">Fechado</p> 
                    </a>
                {% else %}
                    <a class="loja" id= "loja-{{loja.id}}" href="{% url 'loja' loja.id %}">
                            <h2>{{loja.nome}}</h2>
                            <p>{{loja.bairro}} - {{loja.Cidade}}</p>
                            
                            <p><img class="logo-loja" src="{{loja.logomarca.url}}" alt=""></p>
                            <p id="{{loja.id}}-fechado">Fechado</p> 
                    </a>
                    {% endif %}
            {% endif %}
        {% endfor %}
        <div id="div_navegar_paginas">
            {% if page_obj.has_previous %}
            <!--<a href="?page=1">&laquo; first</a>-->
            <a href="?page={{ page_obj.previous_page_number }}">&laquo; Anterior</a>
            <!--<a href="?page={{ page_obj.last.num_pages }}">&laquo; Anterior</a>
            <a href="?page={{ page_obj.last.num_pages }}">&laquo; Anterior</a>-->
            {% endif %}
            <span class="current">
                {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <!--<a href="?page={{ page_obj.last.num_pages }}">Anterior</a>-->
                <a href="?page={{ page_obj.next_page_number }}">proxima &raquo;</a>
                <!--<a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>-->
            {% endif %}
       
        </div>
    </div>

    {% include 'footer.html'%}
</body>

</html>
<script>
    window.onload =  function(){
        carregar_saldo()
        var now = new Date
        var h = now.getHours()
        var m = now.getMinutes()
        var hour = Number.parseFloat(h + "." + m)
        var dia = now.getDay()
        "{% for loja in lojas %}"
            var l = document.getElementById("loja-" + "{{loja.id}}")
            var fechado = document.getElementById("{{loja.id}}" + "-fechado")
            var horarios = []
            var loja = []
            var dom = []    
            var seg = []
            var ter = []
            var qua = []
            var qui = []
            var sex = []
            var sab = []
            seg.push ("{{loja.horarios.seg_abre}}")
            seg.push("{{loja.horarios.seg_fecha}}")
            ter.push("{{loja.horarios.ter_abre}}")
            ter.push("{{loja.horarios.ter_fecha}}")
            qua.push("{{loja.horarios.qua_abre}}")
            qua.push("{{loja.horarios.qua_fecha}}")
            qui.push("{{loja.horarios.qui_abre}}")
            qui.push("{{loja.horarios.qui_fecha}}")
            sex.push("{{loja.horarios.sex_abre}}")
            sex.push("{{loja.horarios.sex_fecha}}")
            sab.push("{{loja.horarios.sab_abre}}")
            sab.push("{{loja.horarios.sab_fecha}}")
            dom.push("{{loja.horarios.dom_abre}}")
            dom.push("{{loja.horarios.dom_fecha}}")
            horarios.push(dom,seg,ter,qua,qui,sex,sab)
            var hor = horarios[dia]
            console.log(horarios[dia])
            if(hour > hor[0] && hour < hor[1]){
                fechado.remove()
            }
            else{
                console.log("A "+"{{loja.nome}}" + " Esta Fechada")
                l.style.backgroundColor = 	"#808080"
                l.href = "#"
            }
        "{% endfor %}"
    }
    function carregar_saldo(){
        var url = "{%url 'verifica_loja'%}"
        var valor_carrinho
        var carrinho = document.getElementById("carrinho")
        var saldo = document.getElementById("saldo-loja")

        addEventListener("",function(event){
            event.preventDefault();
        })
        fetch(url,{
            method:'GET',
        }).then(function(response){
            return response.json()
        }).then(function(response){
            if(carrinho){
                valor_carrinho = response['carrinho']
                carrinho.innerHTML = "R$ " + valor_carrinho
            }
            //é uma loja
            if(saldo){
                saldo.innerHTML ="R$ " +  response['saldo']
            }
        })
    }
    
    
</script>
   