{% load static %}
{% load tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Produto</title>
    <link rel="stylesheet" media="screen and (min-width: 700px)" href="{% static 'css/formularios.css' %}">
    <link rel="stylesheet" media="screen and (max-width: 699px)" href="{% static 'css/formularios-responsivo.css' %}">
</head>
{% include 'header.html' %}
<body>
    <div id="div_conteudo">
        <div id="div_form">
            <form method="POST" enctype="multipart/form-data">
                <h3 style="font-family: Arial;">Cadastre Suas Bebidas</h1>
                {% csrf_token %}
                <p>
                    <label> Nome</label>
                    {{form.nome}}
                </p>
                <p hidden >
                    <input type="text" name="id_loja" value="{{user.id}}">
                </p>
                <p>
                    <label>Valor</label>
                    {{form.valor}}
                </p>
                <p>
                    <label>Foto</label>
                    {{form.foto}}
                </p>
                <button type="submit" id="btn-cadastrar">Salva Alterações</button>
            </form>
        </div>
    </div>
</body>
{% include 'footer.html' %}
</html>